<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATURE stage IV</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="preview-page">
    <header>
        <nav>
            <h1 id="logo">CREATURE stage IV</h1>
            <ul>
                <li><a href="../index.html#project13">← works</a></li>
            </ul>
        </nav>
    </header>
    <div class="img-wrapper">
        <img class="preview-image" src="../content/DSCF2789.jpg" alt="CREATURE stage IV" loading="lazy">
    </div>
</body>
</html>
