<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATURE stage X</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="preview-page">
    <header>
        <nav>
            <h1 id="logo">CREATURE stage X</h1>
            <ul>
                <li><a href="../drawing.html#drawing17">← drawing</a></li>
            </ul>
        </nav>
    </header>
    <div class="img-wrapper">
        <img class="preview-image" src="../content/KMRY9417-20.jpg" alt="CREATURE stage X" loading="lazy">
    </div>
</body>
</html>
