<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprzężenie Zwrotne</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="preview-page">
    <header>
        <nav>
            <h1 id="logo">Sprzężenie Zwrotne</h1>
            <ul>
                <li><a href="../video.html#video1">← video</a></li>
            </ul>
        </nav>
    </header>
    <div class="video-wrapper">
        <video class="preview-video" src="../content/Sprzezenie-zwrotne2026_exerpt.mp4" autoplay controls></video>
    </div>
</body>
</html>
